@import 'tailwindcss';

html,body,#root{
  background-color: rgb(37, 69, 117);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

*{
  color:white
}